{% extends "base.html" %}
{% block title %}
  Zeeshan's Web
{% endblock title %}
{% block body %}
<div style="height: 90vh;width: 100vw;display: flex;justify-content: space-evenly;align-items: center;">
    <div class="card" style="height: 40% ;width: 20%;">
        <img src="https://source.unsplash.com/random/300x300/?HTML,WEB,programming" class="card-img-top" alt="..." style="height: 65%; width: 100%;">
      
  
    <div class="card-body">
      <h5 class="card-title">HTML</h5>
      <p class="card-text">learn quick HTML</p>
      <a href="login" class="btn btn-primary">Learn Now</a>
    </div>
  </div>
  <div class="card" style="height: 40% ;width: 20%;">
    <img src="https://source.unsplash.com/random/300x300/?C++,codeing,programming" class="card-img-top" alt="..." style="height: 65%; width: 100%;">
  
  
    <div class="card-body">
      <h5 class="card-title">C++</h5>
      <p class="card-text">Let's learn C++</p>
      <a href="login" class="btn btn-primary">Learn Now</a>
    </div>
  </div>
<div class="card" style="height: 40% ;width: 20%;">
    <img src="https://source.unsplash.com/random/300x300/?python,programming" class="card-img-top" alt="..." style="height: 65%; width: 100%;">
  
    <div class="card-body">
      <h5 class="card-title">Python</h5>
      <p class="card-text">let's learn python.</p>
      <a href="login" class="btn btn-primary">Learn Now</a>
    </div>
  </div>
</div>
{% endblock body %}